.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  background-image: url(../images/close-icon.svg);
  position: absolute;
  background-color: transparent;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  opacity: 0.4;
}

.modal__close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 32px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  max-width: 620px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-button {
  width: 158px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  padding: 18px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fcf5e5;
}

.modal__submit-button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .modal {
    padding: 10px;
  }

  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .modal__input {
    margin-bottom: 24px;
    max-width: 276px;
    width: 100%;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
